body {
    font-family: "Roboto", "Raleway";
    color: $first-color;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

  @media screen and (min-width:480px) {
    max-width: 480px;
  }

  @media screen and (min-width:768px) {
    max-width: 768px;
  }

  @media screen and (min-width:1600px) {
    max-width: 1200px;
  }

  }

  .container-portfolio {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
  }

  img {
    display: block;
    height: auto;
    width: 100%;
  }

ul, 
li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    text-decoration: none;
    margin: 0;
}