.footer-form::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form__input {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: $seventh-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-top: 0px;
    padding-left: 16px;
    width: 100%;
    height: 50px;
    outline: none;
    cursor: pointer;

    @media screen and (min-width:1600px) {
        width: 358px;
    }
}

.footer-button {
    font-family: "Roboto";
    width: 200px;
    height: 50px;
    background: $second-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $sixth-color;
    border: none;
    margin-left: 12px;
    cursor: pointer;
}

.footer-button__icon {
    margin-left: 10px;
}


.button-display {
    display: flex;
    justify-content: center;
    padding: 0px;
}

@media screen and (min-width:1600px) {
    .footer-social {
        margin-left: 70px;
    }

    .footer-form-display {
        margin-left: 93px;
    }
    
}

