@media screen and (min-width:768px) {

  .navigation {
    display: flex;
    align-items: center;
   }

  .mail-link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: $fifth-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover{
    color: $second-color;
    }
  
  &:hover .contacts-list__icon, &:focus .contacts-list__icon {
    fill: $second-color;
    } 
  }
  
  .contacts-list__icon {
    fill: $fifth-color;
    margin-right: 10px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .tel-link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.02em;
    color: $fifth-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover .contacts-list__icon, &:focus .contacts-list__icon{
    fill: $second-color;
  } 
      
  &:hover{
    color: $second-color;
  }
  }
   
  .nav-list__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $first-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  &:hover {
    color: $second-color;
  }

  &:focus {
    color: $second-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  }

  .nav-list__line {
    margin-right: 50px;
  }

  .list__link--underline {
    position: relative;
    color: $second-color;

    &::after {
        content: " ";
        display: block;
        position: absolute;
        width: 48px;
        height: 4px;
        background: $second-color;
        border-radius: 2px;
        margin-top: 22px;
    }
}
}
   
.navigation__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: $third-color;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
    
.navigation__text {
  color: $second-color;
}

.nav-list {
  display: none;

  @media screen and (min-width:768px) {
   display: flex;
   align-items: center;
   padding-left: 0px;            
   margin-left: 93px;
   margin-right: auto;
  }
}


@media screen and (max-width:767px) {
  .contacts-list {
    display: none;
  }
  
}

  @media screen and (min-width:768px) and (max-width:1599px) {
    .contacts-list {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-left: 0px;
   margin-left: auto;
  }
}

@media screen and (min-width:1600px) {
  .contacts-list {
    display: flex;
    align-items: center;
    padding-left: 0px;
    margin-left: auto;
    gap: 30px;
  }
}

@media screen and (max-width: 1599px) {
.nav-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}

@media screen and (min-width:1600px) {
  .nav-block {
   display: flex;
}
}

.header-border {
  border-bottom: 1px solid $fourth-color;
  padding: 16px 0px 15px;

  @media screen and (min-width:1600px) {
    padding: 24px 0 25px;
  }
}



.mobile-menu .mobile-menu__link:hover,
.mobile-menu .mobile-menu__link-1:hover,
.mobile-menu .mobile-menu__link-1:focus,
.mobile-menu .mobile-menu__link:focus {
  color: $second-color;
}
  
.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  fill: $first-color;

  @media screen and (min-width:768px) {
    display: none;
  }
}
  
.menu-toggle:hover,
.menu-toggle:focus {
  fill: $first-color;
}
  
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 83px;
  background-color: $sixth-color;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
  
.menu-container.is-open {
  transform: translateX(0);
}
  
  .menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $first-color;
}
  
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.mobile-contacts {
  padding: 0px;
  margin-top: 306px;
  margin-bottom: 64px;
  list-style: none;
}
  
.mobile-menu .mobile-menu__link {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $first-color;
  text-decoration: none;
  padding-bottom: 32px;
}

.mobile-menu__link-1 {
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: $first-color;
  text-decoration: none;
}

  .mobile-contacts__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $second-color;
  text-decoration: none;
  padding-bottom: 32px;
}

  .mobile-contacts__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: $fifth-color;
  text-decoration: none;
}

.mobile-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $second-color;
  text-decoration: none;
  margin-left: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social__inst {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $second-color;
  text-decoration: none;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.mobile-social__linked {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: $second-color;
  text-decoration: none;
  margin-left: 10px;
}



  