.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    overflow-y: scroll;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    width: calc(100% - 30px);
    max-width: 450px;
    background-color: $sixth-color;
    top: 93px;
    left: 50%;
    transform: translate(-50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1600px) {
        width: 528px;
    }
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #0000001A;
    background-color: $sixth-color;
    border-radius: 50%;
    top: 8px;
    right: 8px;
}

.modal-close__icon {
    fill: $third-color;
    cursor: pointer;

    &:hover {
    fill: $second-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.data-form {
    padding: 40px;
}

.data-form__header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.03em;
    color: $first-color;
    }

.data-form__paragraph {
    font-family: "Roboto";
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $fifth-color;
    margin-bottom: 4px;
    }

.data-form__inputs {
    margin-top: 12px;
    margin-bottom: 20px;
}

.data-form__field {
    margin-top: 10px;
}

.data-form__text {
    position: relative;
}

.data-form__icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.data-form__input {
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    cursor: pointer;
    padding-left: 42px;

    &:focus {
        border: 1px solid $second-color;
    }
    
    &:focus + .data-form__icon {
        fill: $second-color;
    }
}

.checkbox {
    height: 24px;
}

.checkbox__lable {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.checkbox__input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:checked + .checkbox__icon {
        background-color: $second-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        border: none;
    }
    
}
    
.checkbox__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 15px;
    border: 2px solid $first-color;
    border-radius: 2px;
    margin-right: 8.38px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.checkbox__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.03em;
    color: $fifth-color;
}

.checkbox__link {
   text-decoration-line: underline;
   color: $second-color;
}

.form-button {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: $sixth-color;
    margin: 30px auto 0 auto;
    width: 200px;
    height: 50px;
    background: $second-color;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.form-button-position {
    display: flex;
}

textarea {
    resize: none;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    @media screen and (min-width: 1600px) {
        width: 448px;
    }
}

.comment {
    padding-left: 16px;
    padding-top: 12px;
    outline: none;
    resize: none;
    cursor: pointer;

    &::placeholder {
        font-family: "Roboto";
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }

    &:focus {
        border: 1px solid $second-color;
        border-radius: 4px;
    }
}
