/* portfolio page style */

.list__link--underline-2 {
    position: relative;
    color: $second-color;

    &::after {
        content: " ";
        display: block;
        position: absolute;
        width: 76px;
        height: 4px;
        background: $second-color;
        border-radius: 2px;
        margin-top: 22px;
    }
}

.button-indet {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 100px;
}

.filter-button {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    background: $eighth-color;
    border-radius: 4px;
    border: none;
    height: 38px;
    margin-right: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        cursor: pointer;
        background: $second-color;
        color: $sixth-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:focus {
        cursor: pointer;
        background: $second-color;
        color: $sixth-color;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.filter-button--1 {
    width: 73px;
}

.filter-button--2 {
    width: 125px;
}

.filter-button--3 {
    width: 112px;
}

.filter-button--4 {
    width: 103px;
}

.filter-button--5 {
    width: 130px;
}

.list-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
    padding-bottom: 60px;
}

.list-cards__line {
    flex-basis: calc((100% - 60px) / 3);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.list-cards__position {
    position: relative;
    overflow: hidden;

    &:hover .cards-overlay {
        transform: translatey(0);
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
}

.cards-overlay {
    top: 0;
    left: 0;
    position: absolute;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    width: 100%;
    height: 100%;
    transform: translatey(101%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    background: rgba(33, 150, 243, 0.9);
}

.cards-overlay__paragraph {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $sixth-color;
}

.text-cards {
    margin: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    background: $sixth-color;
    border-left: 1px solid $tenth-color;
    border-right: 1px solid $tenth-color;
    border-bottom: 1px solid $tenth-color;
}

.text-cards__header {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 17px;
    line-height: 36px;
    letter-spacing: 0.06em;
}
    
.text-cards__paragraph {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: $fifth-color;
    margin-top: 4px;
}

