
@media screen and (max-width: 1599px) {
.services {
    display: none;
}
}
@media screen and (min-width: 1600px) {
    .services-list__overlay {
        position: relative;
        display: flex;
        justify-content: center;
    
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 70px;
            background-color: rgba(47, 48, 58, 0.8);
        }
    }
    
    .services-list__paragraph {
        font-family: "Roboto";
        position: absolute;
        bottom: 0;
        margin: 0;
        padding: 27px 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.143;
        text-transform: uppercase;
        color: $sixth-color;
        }
    
    
    .services {
        padding-top: 94px;
        padding-bottom: 94px;
    }
    
    .services__headers {
        font-family: "Roboto";
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-align: center;
    }
    
    .services-list {
        display: flex;
        padding-left: 0px;
        gap: 30px;
        margin-top: 50px;
    }
}