
$first-color: #212121;
$second-color: #2196F3;
$third-color: #000000;
$fourth-color: #ECECEC;
$fifth-color: #757575;
$sixth-color: #FFFFFF;
$seventh-color: #2F303A;
$eighth-color: #F5F4FA;
$ninth-color: #AFB1B8;
$tenth-color:#EEEEEE;

$base-font: "Roboto";
$secondary-font: "Raleway";